.fondo{
  text-align: center;
  background-image: url('../img/bg_hero.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 50em;
}
a {
  color:inherit;
  text-decoration: none;
 }
